---
---
<div class="w-5/6 ml-[16.66%] min-h-full bg-gray-100">
    <!-- Sección "Formacion" -->
    <section id="experiencia" class="w-full py-5 bg-slate-100">
        <div class="p-5 w-full h-full">
        <h1 class="text-3xl md:text-4xl font-bold mb-10 text-left text-slate-600">Experiencia</h1>
        <!-- Contenedor de cuadrícula -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 border-2 border-aquamarine-600 bg-white rounded-lg p-6">
            
            <!-- Bloque 1 -->
            <div class="p-4 border border-gray-200 rounded-lg shadow">
            <h3 class="text-xl font-bold text-gray-800">Administrador de contenidos web</h3>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Gran Empresa</span><br>
                2023 - Actualidad
            </p>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Diseñar y estructurar contenido</span><br>
                <span class="font-medium">Optimizar los motores de búsqueda (SEO)</span><br>
                <span class="font-medium">Mantenimiento y actualización de contenido</span>
            </p>
            </div>
            
            <!-- Bloque 2 -->
            <div class="p-4 border border-gray-200 rounded-lg shadow">
            <h3 class="text-xl font-bold text-gray-800">Analista de contenidos</h3>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Empresa Mediana</span><br>
               Sept 2022 - 2023
            </p>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Evaluar el rendimiento del contenido</span><br>
                <span class="font-medium">Identificar oportunidades de mejora</span><br>
                <span class="font-medium">Generar reportes y estrategias</span>
            </p>
            </div>
        </div>
    </section>
  </div>