---
---
<div class="w-5/6 ml-[16.66%] min-h-full bg-gray-100">
  <!-- Sección "Formacion" -->
  <section id="proyectos" class="w-full py-5 bg-slate-100">
      <div class="p-5 w-full h-full">
      <h1 class="text-3xl md:text-4xl font-bold mb-10 text-left text-slate-600">Proyectos</h1>
      <!-- Contenedor de cuadrícula -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 border-2 border-aquamarine-600 bg-white rounded-lg p-6">
          <!-- Bloque 1 -->
          <div class="p-4 border border-gray-200 rounded-lg shadow">
          <h3 class="text-xl font-bold text-gray-800">Clon de X</h3>
          <a href="http://localhost:3000/index.php">
            <img src="../../public/Caratula_X.jpg" alt="" class="w-96 h-96 object-contain ml-16">
          </a>
          <p class="text-gray-600 mt-1">
              <span class="font-medium">Descripcion</span><br>
              Diseñado con estilo propio, inspirado en la funcionalidad principal de la plataforma. Este proyecto incluye un feed de publicaciones y un sistema de interacción básico. Es una representación personalizada del concepto original
          </p>
          <p class="text-gray-600 mt-1">
              <span class="font-medium">Tecnologias</span><br>
              <ul class="list-none list-inside text-gray-500 mb-4 flex gap-5 font-semibold">
                <li>
                    <a href="https://developer.mozilla.org/es/docs/Web/HTML">
                      <img src="../../public/HTMLogo.svg" alt="" class="w-8 h-8 mt-4">
                    </a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/es/docs/Web/CSS">
                      <img src="../../public/CSSLogo.svg" alt="" class="w-8 h-8 mt-4">
                    </a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/es/docs/Glossary/PHP">
                     <img src="../../public/php_logo.png" alt="" class="w-8 h-8 mt-4">
                    </a>
                </li>
            </ul>
          </p>
          </div>
          
          <!-- Bloque 2 -->
          <div class="p-4 border border-gray-200 rounded-lg shadow">
            <h3 class="text-xl font-bold text-gray-800">Mi portfolio</h3>
            <a href="http://localhost:4321/">
              <img src="../../public/portfolio.jpg" alt="" class="w-96 h-96 object-contain ml-16">
            </a>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Descripcion</span><br>
                Página web creada en Astro con un estudio previo de diseño web, generando la documentacion con Figma
            </p>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Tecnologias</span><br>
                <ul class="list-none list-inside text-gray-500 mb-4 flex gap-5 font-semibold">
                  <li>
                      <a href="https://docs.astro.build/en/getting-started/">
                        <img src="../../public/AstroLogo.svg" alt="" class="w-8 h-8 mt-4">
                      </a>
                  </li>
                  <li>
                      <a href="https://tailwindcss.com/docs/installation">
                        <img src="../../public/TailwindLogo.svg" alt="" class="w-8 h-8 mt-4">
                      </a>
                  </li>
                  <li>
                      <a href="https://www.figma.com/">
                       <img src="../../public/FigmaLogo.svg" alt="" class="w-8 h-8 mt-4">
                      </a>
                  </li>
              </ul>
            </p>
            </div>
      </div>
  </section>
</div>