---
---
<div class="w-5/6 ml-[16.66%] min-h-full bg-gray-100">     
  <!-- Sección "Sobre mí" -->
  <section id="sobre-mi" class="w-full py-5 bg-slate-100">
      <div class="p-5 w-full h-full overflow-auto">
          <h1 class="text-3xl md:text-4xl font-bold mb-10 text-left text-slate-600">Sobre mi</h1>
          <!-- Contenedor con borde negro -->
          <div class="border-2 border-aquamarine-600 bg-white rounded-lg">
              <p class="mt-1 text-gray-600 font-medium text-lg mx-4">
                  <span class="text-xl font-bold text-gray-800">Técnico Superior en Desarrollo Web</span>, diseñador y programador con experiencia en front-end y back-end.
              </p>
              <p class="mt-1 text-gray-600 font-medium text-lg mb-7 mx-4">
                  Soy un apasionado de la tecnología y las posibilidades que ofrece para transformar ideas en experiencias digitales impactantes. Me encanta mantenerme en constante aprendizaje, explorando nuevas herramientas, tendencias en diseño y las últimas innovaciones en desarrollo, especialmente en el fascinante mundo de la Inteligencia Artificial.
              </p>
              <p class="mt-1 text-gray-600 font-medium text-lg mb-7 mx-4">
                  Mi enfoque no solo está en el código, sino también en crear soluciones atractivas, funcionales y adaptadas a cada necesidad.
              </p>
              <p class="mt-1 text-gray-600 font-medium text-lg mb-7 mx-4">
                  <span class="text-xl font-bold text-gray-800">Idiomas:</span> Nativo español, con un nivel intermedio de inglés
              </p>
          </div>
      </div>
  </section>
</div>